# SMARTPICKUP - EXEMPLE DE CONFIGURATION
# Renommez ce fichier en .env et remplissez vos propres clés

DATABASE_URL=postgresql://user:password@localhost:5432/dbname
MAPBOX_ACCESS_TOKEN=votre_cle_mapbox_ici
FIREBASE_CREDENTIALS_PATH=app/votre-fichier-firebase.json
JWT_SECRET_KEY=generez_une_cle_secrete_ici
ALGORITHM=HS256
